# systemctl --user daemon-reload
# systemctl --user enable sensors_ts
# systemctl --user start sensors_ts
# journalctl --user -u sensors_ts -f

[Unit]
Description=ThingSpeak Data Logger
After=network-online.target sshd.service

[Service]
Type=simple
WorkingDirectory=/home/pi/Code/
ExecStart=/usr/bin/python3 /home/pi/Code/sensors_ts.py
Restart=on-failure
RestartSec=10
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
