# systemctl --user daemon-reload
# systemctl --user enable web_stream
# systemctl --user start web_stream
# journalctl -u web_stream -f

[Unit]
Description=USB Camera Web Streaming Service (OpenCV MJPEG)
After=network-online.target sshd.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/Code/web_stream.py
WorkingDirectory=/home/pi/Code
Restart=on-failure
RestartSec=10
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
