# systemctl --user daemon-reload
# systemctl --user enable web_stream
# systemctl --user start web_stream
# journalctl -u web_stream -f

[Unit]
Description=USB Camera Web Streaming Service (OpenCV MJPEG)
After=network-online.target sshd.service

[Service]
Type=simple
ExecStart=/home/pi/fishcam/.venv/bin/python /home/pi/fishcam/web_stream.py
WorkingDirectory=/home/pi/Code
Restart=on-failure
RestartSec=10
User=pi
Group=pi

Environment=PYTHONUNBUFFERED=1
# Send stdout/stderr to the journal
StandardOutput=journal
StandardError=journal
# Friendly identifier in journalctl output
SyslogIdentifier=web_stream


[Install]
WantedBy=multi-user.target
